<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1022931830698-ch3pm2qkam4blo09eghgj937jli6es0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022931830698-ch3pm2qkam4blo09eghgj937jli6es0i</string>
	<key>API_KEY</key>
	<string>AIzaSyCBnPJ_7hDSF8Q267Y03-1d4u4F0lIhCw0</string>
	<key>GCM_SENDER_ID</key>
	<string>1022931830698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>romax.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-c338d</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-c338d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022931830698:ios:a3a3b66e93ec260a</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-c338d.firebaseio.com</string>
</dict>
</plist>